.screen-div {
	width: 100%;
	height: 100%
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
}

#home-img {
	z-index: -1;
}

#cart-icon {
    position: absolute;
    z-index: 2;
    top: 5px;
    right: 7px;
    width: 30px;
}

#menu-icon {
    position: absolute;
    z-index: 2;
    top: 12px;
    left: 7px;
    width: 30px;
}

#apple-cinn-feat {
	position: absolute;
    z-index: 2;
    top: 325px;
    left: 15px;
    width: 175px;
}